#Inicio{
	top: 150px;
	position: absolute;
	height: 550px;
	width: 20%;
	margin: auto 700px;
	border-radius: 20px;
	padding: 60px;
	background: white;

}
body{
	height: 100vh;
	width: 100%;
	background-image: radial-gradient(circle at -16.45% 25.82%, #fff533 0, #e4f237 10%, #c7ed3d 20%, #a9e444 30%, #8ada4b 40%, #6acc50 50%, #48be55 60%, #19b25a 70%, #00a75f 80%, #009e64 90%, #00966b 100%);
}
.Inicio_de_sesion{
	font-size: 40px;
	text-align: center;
	position: relative;
	top: -30px;
}
.Inicio{
	position: relative;
	top: -20px;
	margin: auto 80px;
}
.registrar{
	background-color: #4CAF50;
	color: white;
	position: absolute;
	top: 445px;
	border-radius: 20px;
	padding: 15px;
	font-size: 20px;
	margin-left: -140px;
	
}

.Login{
	text-decoration:none;
	background-color: #4CAF50;
	color: white;
	margin-left: 70px;
	border-radius: 10px;
	position: absolute;
	top: -169px;
	padding: 10px;
}

.Login:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
